* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: #d5e1ef;
  height: 100vh;
}

.attribution {
  display: none;
}

.qr-code-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.qr-code-component__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 32rem;
  height: 50rem;
  background-color: #fff;
  border-radius: 2rem;
  color: #1f314f;
  padding: 1.6rem;
}

.qr-code-component__cardQrBackground {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c7efa;
  border-radius: 1rem;
}

.qr-code-component__cartTitle {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 2rem;
  text-align: center;
}

.qr-code-component__cardText {
  width: 84%;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-top: 1.6rem;
  text-align: center;
  color: #68778d;
}
